{% extends 'core/base.html' %}
{% block title %} All Posts
{% endblock title %}
{% load static %}
{% block body %}

    <!-----Recent Additions--- -->
    <section class="Recent-Addition">
        <div class="container">
            <div class="row">
            {% for i in subcat_post %}
                <div class="col-lg-3 col-md-4 mt-4">
                    <a href="{% url 'details' i.subcategory.slug i.slug %}" style="color: black;">
                        <div class="main-hover-div">
                            <div class="user-profile-2">
                                <div class="mani-2">
                                    <h3>{{i.title}} </h3>
                                </div>
                                <div class="user-main">
                                    <div class="user-data">
                                        <h3>{{i.desc|truncatechars:100|safe}}</h3>
                                    </div>
                                    <div class="star"> <i class="fa fa-star" aria-hidden="true"></i> <i
                                             class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
                                            aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                                            class="fa fa-star" aria-hidden="true"></i> <span>4.4 (5500)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover_display"> <span class="batchtxt">Next batch</span> <span
                                    class="nextbatch"> <span class="value">Today</span> <span class="text">- 7th
                                        December</span> </span> <span class="learnlist">What will I learn?</span>
                                <ul>
                                    <li>Introduction to AWS</li>
                                    <li>Security Management in AWS</li>
                                    <li>Object Storage Options</li>
                                </ul>
                                <span class="seemorebtn">View Details</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% for i in cat_post %}
                <div class="col-lg-3 col-md-4 mt-4">
                    <a href="{% url 'details' i.category.slug i.slug %}" style="color: black;">
                        <div class="main-hover-div">
                            <div class="user-profile-2">
                                <div class="mani-2">
                                    <h3>{{i.title}} </h3>
                                </div>
                                <div class="user-main">
                                    <div class="user-data">
                                        <h3>{{i.desc|truncatechars:100|safe}}</h3>
                                    </div>
                                    <div class="star"> <i class="fa fa-star" aria-hidden="true"></i> <i
                                            class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
                                            aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                                            class="fa fa-star" aria-hidden="true"></i> <span>4.4 (5500)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover_display"> <span class="batchtxt">Next batch</span> <span
                                    class="nextbatch"> <span class="value">Today</span> <span class="text">- 7th
                                        December</span> </span> <span class="learnlist">What will I learn?</span>
                                <ul>
                                    <li>Introduction to AWS</li>
                                    <li>Security Management in AWS</li>
                                    <li>Object Storage Options</li>
                                </ul>
                                <span class="seemorebtn">View Details</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock body %}