<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>edureka!</title>
</head>

<body>
    <section class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading-text">
                        <span> Month End Offer - Upto 30% Off | OFFER ENDING IN : </span>
                        <span class="main-span">GRAB NOW</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="navbar-statrs pt-3 pb-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="Enter Course, Category or keyword"
                            maxlength="255">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">
                                <span class="fa fa-search form-control-feedback"></span>
                            </button>
                        </div>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Corporate Training</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Courses</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Log In</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal2">Sign Up</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </section>

    <!------ AWS Architect Certification Training-------->
    <section class="Certification">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 no-padding">
                    <div class="Certification-2">
                        <ul class="brdcrm-2 hidden-xs">
                            <li><a href="#">Home></a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-padding hidden-xs hidden-sm cc_cursor">
                    <div class="cnt_box">
                        <span class="iconcall">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <div class="cnt_info">
                            <span class="text">Have Queries? Ask us</span>
                            <a href="#">08040423753</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---Blog---->
    <section class="chhota-div">
        <div class="container-fluid">
            <div class="container">
                <h2 class="text-center">Testing With Selenium WebDriver (70 Blogs)</h2>
            </div>
        </div>
    </section>


    <!-----Recent Additions--- -->
    <section class="Recent-Addition pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-4 mx-auto"> <a href="certification-training.html" style="color: black;">
                        <div class="main-hover-div">
                            <div class="user-profile-2">
                                <div class="test" style="margin: 10px;">
                                    <h2 class="text-left">Top 40 Test Automation Interview Questions You Need To Know In
                                        2021</h2>
                                    <span class="Last">Last updated on Jan 04,2021</span>
                                </div>
                                <div class="user-images">
                                    <div class="program_features_info">
                                        <span><img src="images/user.png" alt="" style="padding-right: 10px;"></span>
                                        <span>Archana Choudary</span>
                                        <p class="book">Bookmark</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-10 mt-4 mx-auto">
                    <div class="main-hover-div">
                        <div class="user-profile-2">
                            <p style="padding: 10px; margin: 10px;">Testing is crucial to the success of any
                                software product. The prime objective of software testing is to get a high-quality
                                output while reducing the cost and the time required for completing the project. But
                                testing to find defects or bugs manually is time-consuming, expensive, often
                                repetitive, and subject to human error. This is where automation comes into the
                                picture. This Test Automation Interview Questions article is the perfect guide for
                                you to learn about Automation Testing.

                                Test Automation or Automation Testing uses the assistance of tools, scripts, and
                                software to perform test cases by repeating pre-defined actions. Automating software
                                testing will definitely give companies a competitive edge in the market.
                                With the adoption of automation becoming more and more widespread, software testers
                                with manual testing skills alone won’t be able to make it in today’s job market. If
                                you are preparing for Automation Testing job interview, you need to be aware of most
                                frequently asked questions in the test automation field. With that in mind, in this
                                article on Test Automation Interview Questions, I will be discussing the top
                                questions related to automation testing asked in the interviews. For your better
                                understanding, I have divided test automation interview questions into the following
                                sections:</p>

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Collapsible Group Item #1
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Collapsible Group Item #2
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                Collapsible Group Item #3
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!----footer-section------>
    <section class="footer-section">
        <div class="container">
            <h2 class="mt-4 mb-4">edureka!</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Trending Certification Courses </h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    DevOps Certification Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    AWS Architect Certification Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Big Data Hadoop Certification Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tableau Training & Certification
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Python Certification Training for Data Science
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Selenium Certification Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    PMP® Certification Exam Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Robotic Process Automation Training using UiPath
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Apache Spark and Scala Certification Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Microsoft Power BI Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Online Java Course and Training
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Python Certification Course
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>TRENDING MASTER COURSES</h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    Data Scientist Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    DevOps Engineer Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Cloud Architect Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Big Data Architect Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Machine Learning Engineer Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Full Stack Web Developer Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business Intelligence Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Data Analyst Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Test Automation Engineer Masters Program
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Post Graduate Certification Program in Artificial Intelligence & Machine Learning
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Advanced Executive Program in Big Data Engineering
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Company</h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    About us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    News & Media
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Reviews
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Webinars
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Community
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Locations
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Sitemap
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog Sitemap
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Community Sitemap
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    City Sitemap
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Corporate Training
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Work with us </h3>
                        <ul class="trend_list">
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    ABecome an Instructor
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Become an Affiliate
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Become a Partner
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Hire from Edureka
                                </a>
                            </li>
                        </ul>
                        <div class="Download-App">
                            <h3>Download App</h3>
                            <a href="#">
                                <img src="images/d1.png">
                            </a>
                            <a href="#">
                                <img src="images/d2.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="copy-right-top">
        <div class="container">
            <div class="tncblock">
                <span class="brain4ce">© 2020 Brain4ce Education Solutions Pvt. Ltd. All rights Reserved.</span>
                <a href="#">Terms & Conditions</a>
                <a href="#">Legal & Privacy</a>
                <ul class="list-unstyled footer-social-icon">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="copy-right text-center mt-4 mb-4">
        <div class="container">
            <span>"PMP®","PMI®", "PMI-ACP®" and "PMBOK®" are registered marks of the Project Management Institute, Inc.
                MongoDB®, Mongo and the leaf logo are the registered trademarks of MongoDB, Inc.</span>
        </div>
    </section>
    <!----Drop-box-section----->
    <section class="Drop-box-section">
        <div class="drop_box_enqr hidden-xs redShow" style="display: block;">
            <div class="head dp_hd_bx duq-new-head totop" style="cursor: pointer;">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false">
                            <span class="title" style="margin-left: -60px; font-size: 16px; ">Drop us a Query</span>
                            <span class="accicon"><i class="fas fa-angle-down rotate-icon"
                                    style="margin-left: 78px; font-size: 20px;"></i></span>

                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="mlp_talk_adverbox">
                                    <div class="title_num">

                                        <div class="num_box_adv mt-2">
                                            <img src="images/telephone-symbol-button.png">
                                            <div class="num_box_sub">
                                                <p c>08068245835</p>
                                                <p class="sub">Available 24x7 for your queries</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_talk">
                                        <form>
                                            <div class="mb-3 mt-2">
                                                <input type="Number" class="form-control" id="Number" name="Phone"
                                                    placeholder="Mobile No*">
                                            </div>
                                            <div class="mb-3">
                                                <input type="email" class="form-control" id="Email"
                                                    placeholder="e.g. sara@gmail.com*">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                    placeholder="Type your query here*"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">SUBMIT QUERY</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <img src="images/15.svg"> Let's Get Started</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="Email" placeholder="e.g. sara@gmail.com*">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Enter your Password">
                        </div>
                        <small id="emailHelp" class="form-text text-muted"><span class="note">Please Note:</span> By
                            continuing and signing in, you agree to Edureka's <span class="terms-action"><a
                                    href="#">Terms & Conditions </a></span> and <span class="terms-action"><a
                                    href="#">Privacy Policy</a></span>.</small>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <p class="login_video_frm">Don’t have an account? <span class="signup-vd"><a href="#"
                            data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal"> Sign UP </a></span>
                </p>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <img src="images/15.svg"> Let's Get Started</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="Email" placeholder="e.g. sara@gmail.com*">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputNumber1">Phone Number</label>
                            <input type="number" class="form-control" id="Number" name="Phone" placeholder="Mobile No*">
                        </div>
                        <small id="emailHelp" class="form-text text-muted"><span class="note">Please Note:</span> By
                            continuing and signing in, you agree to Edureka's <span class="terms-action"><a
                                    href="#">Terms & Conditions </a></span> and <span class="terms-action"><a
                                    href="#">Privacy Policy</a></span>.</small>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </div>
                <p class="login_video_frm">Already have an account? <span class="signup-vd"> <a href="#"
                            data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Log In</a></span></p>
            </div>
        </div>
    </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper)
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
   -->

    <!---Option 2: jQuery, Popper.js, and Bootstrap JS--->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <script>
        // $('.portfolio-item').isotope({
        //      itemSelector: '.item',
        //      layoutMode: 'fitRows'
        //  });
        $('.portfolio-menu ul li').click(function () {
            $('.portfolio-menu ul li').removeClass('active');
            $(this).addClass('active');

            var selector = $(this).attr('data-filter');
            $('.portfolio-item').isotope({
                filter: selector
            });
            return false;
        });
        $(document).ready(function () {
            var popup_btn = $('.popup-btn');
            popup_btn.magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>

    <!-------read-more-section----------->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

    <!-------second-navbar-hover-properties--------->
    <script>
        /* Please ❤ this if you like it! */


        (function ($) {
            "use strict";

            $(function () {
                var header = $(".start-style");
                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 10) {
                        header.removeClass('start-style').addClass("scroll-on");
                    } else {
                        header.removeClass("scroll-on").addClass('start-style');
                    }
                });
            });

            //Animation

            $(document).ready(function () {
                $('body.hero-anime').removeClass('hero-anime');
            });

            //Menu On Hover

            $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
                if ($(window).width() > 750) {
                    var _d = $(e.target).closest('.nav-item'); _d.addClass('show');
                    setTimeout(function () {
                        _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                    }, 1);
                }
            });

            //Switch light/dark

            $("#switch").on('click', function () {
                if ($("body").hasClass("dark")) {
                    $("body").removeClass("dark");
                    $("#switch").removeClass("switched");
                }
                else {
                    $("body").addClass("dark");
                    $("#switch").addClass("switched");
                }
            });

        })(jQuery); 
    </script>


</body>

</html>