{% extends 'core/base.html' %}
{% block title %}All Blogs
{% endblock title %}
{% load static %}
{% block body %}
    <!---Blog---->
    <section class="chhota-div">
      <div class="container-fluid">
        <div class="container">
          <h2 class="mt-5 mb-4">What are you interested in learning?</h2>
          <div class="discover-top-categories">
            <div class="row">
              <div class="col-lg-12 mx-auto">
                <ul class="less_element">
                {% for i in categories %}
                {% if not i.children.all %}
                  <li class="category-item">
                    <a href="{% url 'blog_catposts' i.slug %}">
                    {% if not i.logo %}
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    {% else %}
                    <img src="{{i.logo.url}}" width="50" />
                    {% endif %}
                      <label>{{i.title}}</label>
                    </a>
                  </li>
                {% endif %}  
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          {% comment %} <span class="more_button_cat"
            >View More <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span> {% endcomment %}
        </div>
      </div>
    </section>

    <!-----Recent Additions--- -->
    <section class="Recent-Addition pb-5">
      <div class="container">
        <h2 class="mt-5 mb-4">Recent Additions</h2>
        <div class="row">
        {% for i in recent_blogs %}    
          <div class="col-lg-3 col-md-4 mt-4">
            <a href="{% url 'blogdetails' i.slug %}" style="color: black">
              <div class="main-hover-div">
                <div class="user-profile-2">
                  <div class="#">
                    <img src="{{i.image.url}}" alt="{{i.image_alt_name}}"/>
                  </div>
                  <div class="user-main">
                    <div class="user-data">
                      <h3>{{i.title}}</h3>
                      <small> <i class="fa fa-user"> </i> By- {{i.author|title}}</small> <br>
                      <small><i class="fa fa-clock"> </i> {{i.date|date}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
{% endblock body %}