{% extends 'core/base.html' %}
{% block title %} All Posts
{% endblock title %}
{% load static %}
{% block body %}

    <!-----Recent Additions--- -->
    <section class="Recent-Addition">
        <div class="container">
            <div class="row">
            {% for i in blogpost %}
                <div class="col-lg-3 col-md-4 mt-4">
            <a href="{% url 'blogdetails' i.slug %}" style="color: black">
              <div class="main-hover-div">
                <div class="user-profile-2">
                  <div class="#">
                    <img src="{{i.image.url}}" alt="{{i.image_alt_name}}"/>
                  </div>
                  <div class="user-main">
                    <div class="user-data">
                      <h3>{{i.title}}</h3>
                      <small>{{i.date|date}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock body %}