{% extends 'core/base.html' %}
{% block title %} Çategories
{% endblock title %}
{% load static %}
{% block body %}

    <!-----Recent Additions--- -->
    <section class="Recent-Addition">
        <div class="container">
            <div class="row">   
            {% if not cat_subcat %}
            {{allcats}}
            {% comment %} {{allsubcatg}} {% endcomment %}
            <h2> This Category has no sub categories !! </h2>
            {% endif %}
            {% for i in cat_subcat %}
            {% comment %} <h2 class="mt-5 mb-4 text-center">{{i.parent.title}}</h2> {% endcomment %}
                <div class="col-lg-3 col-md-4 mt-4">
                    <a href="{% url 'allcatpost' i.slug %}" style="color: black;">
                        <div class="main-hover-div">
                            <div class="user-profile-2">
                                <div class="mani-2">
                                    <h3> {{i.title}} </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock body %}