<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <!---navbar-section----->
    <section class="navbar-section">
        <div class="container">
           <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img src="images/inet.png"></a>
           </nav>
       </div>
    </section>
   <!---sidebar-section----->
    <section class="sidebar-section">
      <div class="container"> 
        <div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()"><i class="fa fa-bars" aria-hidden="true"></i></button>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;Surjeet Singh</a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;&nbsp;Dashboard</a>
  <a href="#" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Sign out</a>
   <a href="#" class="w3-bar-item w3-button"><i class="fa fa-language" aria-hidden="true"></i>&nbsp;&nbsp;Language</a>

</div>
<div>
  <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()"><i class="fa fa-angle-double-right"></i></button>
</div>

       </div>
    </section>
    
    <section class="dashboard-heading">
      <div class="container">
         <h1 class="text-center mt-4 mb-5">Additional Information for Cisco Systems, Inc.</h1>
           <p>This information is being collected on behalf of your testing program</p>
           <p>Required information is marked with an asterisk (*).</p>
           <p>Enter information on this page in the Roman alphabet. (Alphanumeric)</p>
        <div class="row">
           <div class="col-md-12">
             <div class="main-dashboard">
               <form>
  <div class="form-group row">
     <div class="col-md-6">
    <label for="exampleInputEmail1">What is the company name of your employer?</label>
    <input type="name" class="form-control" id="exampleInputName">
     </div>
       
     </div>

     <div class="form-group row">
     <div class="col-md-6">
    <label for="exampleInputEmail1">Do you work for a Cisco Partner or Reseller?</label>
      <div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Yes</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">No</label>
</div>
     </div>
     </div>
     <div class="form-group row">
     <div class="col-md-6">
    <label for="exampleInputEmail1">Are you a Cisco employee?</label>
      <div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Yes</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">No</label>
</div>
     </div>
     </div>
     <div class="form-group row">
     <div class="col-md-6">
    <label for="exampleInputEmail1">If employee, what is your Employee number?</label>
    <input type="name" class="form-control" id="exampleInputName">
     </div>
       
     </div>
     <div class="form-group row">
     <div class="col-md-6">
    <label for="exampleInputEmail1">What is your Networking Academy ID?</label>
    <input type="name" class="form-control" id="exampleInputName">
     </div>
       
     </div>
     <div class="form-group row">
     <div class="col-md-6">
    <label for="exampleInputEmail1">What is your Networking Academy Username?</label>
    <input type="name" class="form-control" id="exampleInputName">
     </div>
       
     </div>
</form>
              
          </div>
           </div>
        </div>
          <p class="mt-4">Fields in bold cannot be edited online. Please contact <a href="#">customer service</a>  to update this information.
                         </p>
        <div class="row mt-4">
          <div class="return-to-dashboard mb-4">
              <a href="#" class="btn btn-primary">Cancel</a>
            </div>
           <div class="return-to-dashboard mb-4 ml-auto">
              <a href="#" class="btn btn-primary">Save and Continue</a>
            </div>
          </div>
        </div>
    </section>


   <section class="footer-section text-center">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
           <div class="main-ul">
              <ul>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
              <p>Created by PHJY iNet Software Pvt.Ltd. © 2019-2020. All copy rights reserved.</p>
           </div>
         </div>
       </div>
     </div>
   </section>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
   

    
  </body>
</html>